<ul>
    <li class="menu-item">
        <a href="./#banner" data-scroll="">Home</a>
    </li>
    <li class="menu-item">
        <a href="./#dienstleistungen" data-scroll="">Dienstleistungen</a>
    </li>
    <li class="menu-item">
        <a href="./#fahrzeuge" data-scroll="">Fahrzeuge</a> 
    </li>
    <li class="menu-item">
        <a href="./#preise-mit-chauffeur" data-scroll="">Preise</a>
    </li>
    <li class="menu-item">
        <a href="./#kontakt" data-scroll="">Kontakt</a>
    </li>
</ul>

    
